/* Make page take full height*/
html,body {height: 100%;
           margin: 0;
}
/* Flex layout */
body {display:flex;
       flex-direction:column;
}
/* Main content grows */
main {flex:1;}
/* Reset default browser spacing */
body {
	margin: 0;
	font-family: Arial,sans-serif;
	background-color: #f4f4f4;
}

/* Header */
header {
	background-color: #cc4dc6;
        color: white;
	padding: 20px;
        text-align: center;
}

/* Navigation */

nav{ 
        background-color: #cc4dc6;
	padding: 10px;
	text-align: center;
}

nav a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      margin:0 15px;
      font-weight: bold;
}

nav a:hover {
     text-decoration:underline;
}

/* Main content */
main {
     padding: 20px;
}

/* Sections */
section {
       background-color: white;
       padding: 15px;
       margin-bottom: 20px;
       border-radius: 5px;
}
 /* Products */
.product { 
	border: 1px solid #cc4dc6;
	padding: 10px;
	margin-top: 10px;
	border-radius: 5px;
}

/* Footer */
footer {
	background-color: #cc4dc6;
	colour: rgb(0, 0, 0);
	text-align: center;
        padding: 10px;
        
}
 
/*Custome header styling*/
.custom-nav{
	background-color: #cc4dc6;
}
.custom-header {background:linear-gradient(to right, #d96ad9, #c94ac9)
}      

.custom-header h1,
.custom-header p {
        color:black;
}
      
